<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Dashboard | E - Yearbook Management System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="../assets/img/mlndy logo.png" rel="icon">
  <link href="../assets/img/mlndy logo.png" rel="apple-touch-icon">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/views.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>

<body id="body-content">
  <div class="notification-container">
    <% activityLogs.forEach(log => { %>
      <div class="notification">
        <p><strong><%= log.details %></strong></p>
        <p><small><%= log.timestamp.toLocaleString() %></small></p>
      </div>
    <% }) %>
  </div>
 
  <header id="header" style="background-color: black;">
    <div class="container d-flex align-items-center justify-content-between">
      <button id="toggle-button" style=" position: absolute;margin-left: 1%;margin-top: 1%; left: 0;">☰</button>
      <h1 class="logo">
        <img src="../assets/img/mlndy logo.png">
        <a href="#" style="font-size: 75%;"> MALANDAY NATIONAL HIGHSCHOOL E-YEARBOOK</a>
      </h1>

      <nav id="navbar" class="navbar">
        <ul class="d-flex align-items-center">
          <li>
            <form class="form-inline my-2 my-lg-0 search-container">
              <input class="form-control" type="search" placeholder="Search your work" aria-label="Search">
              <button type="submit"><img src="../assets/img/OIP.jpg" alt="Search"></button>
            </form>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <h1 class="logo">
        <a href="" style="font-size: 65%;">
          <img src="../assets/img/admin.png" alt="Admin Icon" style="width: 30px; height: 30px; vertical-align: middle; margin-right: 1px;">
          Admin
        </a>
      </h1>
    </div>
  </header>

  <div class="modal fade" id="notifmodal" tabindex="-1" aria-labelledby="notifmodalLabel" aria-hidden="true" style="padding-top: 10%;">
    <div class="modal-dialog" style="max-width: 50%;">
      <div class="modal-content box-shadow-full">
        <div class="modal-header">
          <h5 class="title-left">Notifications</h5>
          <button type="button" class="button button-rouded" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="notifications contents">
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/admin/yearbooks"id="yearbooklist">Yearbook
        <img src="../assets/img/yearbook.png" alt="Yearbook" class="Yearbook">
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#comittee">Committee
        <img src="../assets/img/committee.png" alt="Committee" class="Committee">
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#createAccModal">Create Acct
        <img src="../assets/img/createacct.png" alt="Committee" class="Committee">
      </a>
      </li>
      <li class="nav-item">
        <% if (!user.twoFactorEnabled) { %>
          <a class="nav-link" href="/setup-2fa">Setup 2FA
          <img src="https://static.vecteezy.com/system/resources/previews/014/571/683/original/yellow-padlock-for-locking-the-information-on-the-computer-data-encryption-concept-png.png"  alt="Committee" class="Committee">
        <% } %>
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#accsettings">Settings
        <img src="../assets/img/settings.png" alt="Settings" class="Settings">
      </a>
      </li>
      <li class="nav-item">
        <p  ><button class=" nav-link button button-a button-rouded" id="logoutButton" >Logout</button></p>
        
        </li>
    </ul>
  </div>
  <div class="modal fade" id="createAccModal" tabindex="-1" aria-labelledby="createAccModalLabel" aria-hidden="true" style="padding-top: 10%;">
    <div class="modal-dialog" style="max-width: 50%;">
      <div class="modal-content box-shadow-full">
        <div class="modal-header">
          <h5 class="title-left">Create Account</h5>
          <button type="button" class="button button-rouded" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <form id="createAccForm" enctype="multipart/form-data">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label for="studentNumber"><h4>Employee Number</h4></label>
                  <input type="text" class="form-control" id="studentNumber" name="studentNumber" required placeholder="Enter student number">
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label for="email"><h4>Email</h4></label>
                  <input type="email" class="form-control" id="email" placeholder="Enter Email" required>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label for="birthday"><h4>Birthdate</h4></label>
                  <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Enter Birthdate" required>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label for="acctype"><h4>Account Type</h4></label>
                  <select id="acctype" class="form-control" name="account_type" placeholder="Select Account Type">
                    <option value="committee_head">Committee Head</option>
                    <option value="committee">Committee</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div>
                  <button type="button" class="button button-a button-big button-rounded" id="createAccountButton">Create</button>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  <div id="content">
    <main id="main">
      <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div style="display: grid;grid-template-columns: auto 25%;gap: 1%;">
                <div class="box-shadow-full" style="height: max-content;">
                  <div class="align-left">

                    <h4>Pending Yearbooks</h4>
                    <div class="gridds">
                      <% pendingYearbooks.forEach(yearbook => { %>
                        <div class="grid-row" style="margin: 1%; text-align: center;">
                          <div>
                            <a href="/yearbook/<%= yearbook.id %>" style="display: block;">
                              <img src="../assets/img/YEARBOOK GALLERY MAKER (4).png" alt="Pending Yearbooks" class="yearbook-img">
                            </a>
                          </div>
                          <div>
                            <p class="lead"><%- yearbook.title %></p>
                            <!-- Publish button -->
                            <form action="/yearbook/<%= yearbook.id %>/publish" method="POST">
                              <button type="submit" class="button button-a button-rouded">Publish</button>
                            </form>
                          </div>
                        </div>
                      <% }) %>
                    </div>


                    <h4>Published Yearbooks</h4>
                    <div class="gridds">
                      <% publishedYearbooks.forEach(yearbook => { %>
                        <div class="grid-row" style="margin: 1%; text-align: center;">
                          <div>
                            <a href="/yearbook/<%= yearbook.id %>" style="display: block;">
                              <img src="../assets/img/YEARBOOK GALLERY MAKER (4).png" alt="Published Yearbooks" class="yearbook-img">
                            </a>
                          </div>
                          <div>
                            <p class="lead"><%- yearbook.title %></p>
                            <!-- Publish button -->
                            <form action="/yearbook/<%= yearbook.id %>/pending" method="POST">
                              <button type="submit" class="button button-a button-rouded">Unpublish</button>
                            </form>
                          </div>
                        </div>
                      <% }) %>
                    </div>

                
                  </div>
                  
                </div>
                
                <div class="grid-row" style=" text-align: center; height: auto;">
                  <div class="box-shadow-full" style="padding: 5%;margin-top: -auto;">
                    <h4 style="font-size: 100%;">Calendar</h4>
                    <div class="header">
                      <button id="prevMonth" style="background: none; border: none; color: white; cursor: pointer;">&lt;</button>
                      <h2 id="monthYear" style="font-size: 150%;"></h2>
                      <button id="nextMonth" style="background: none; border: none; color: white; cursor: pointer;">&gt;</button>
                  </div>
                  <div class="days">
                      <div>Sun</div>
                      <div>Mon</div>
                      <div>Tue</div>
                      <div>Wed</div>
                      <div>Thu</div>
                      <div>Fri</div>
                      <div>Sat</div>
                  </div>
                  <div class="dates" id="dateCells"></div>
                  </div>
                  <div class="box-shadow-full" style="padding: 5%; margin-top: -10%;">
                    <form id="setDeadlineForm">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="consent_deadline"><h4>Set Consent Deadline</h4></label>
                          <input type="date" class="form-control" id="consent_deadline" required>
                        </div>
                      </div>
                      <br>
                      <label for="yearbook"><h6>Select Yearbook</h6></label>
                        <select id="yearbook" class="form-control" required>
                          <% yearbook.forEach(function(yearbook) { %>
                            <option value="<%= yearbook._id %>"><%= yearbook.title %></option>
                          <% }); %>
                        </select>
                        <br>

                      <button type="button" class="button button-a button-big button-rounded" id="setDeadlineButton">Set Deadline</button>
                    </form>
                  </div>
                  
                  <div class="box-shadow-full" style="padding: 5%; margin-top: -10%;">
                    <h4>Users Online</h4>
                    <div class="align-left" id="onlineusers" style="margin: 2%;">
                      <p><strong>Students:</strong>  <span id="studentsOnline"><%= onlineUsers.student %></span></p>
                      <p><strong>Committee:</strong> <span id="committeeOnline"><%= onlineUsers.committee %></span></p>
                      <p><strong>Admin: </strong><span id="adminOnline"><%= onlineUsers.admin %></span></p>
                    </div>
                  </div>
                  <div class="box-shadow-full" style="padding: 5%; margin-top: -10%;">
                    <h4 style="font-size: 100%;">Most Viewed Yearbooks</h4>
                    <div class="align-left">
                      <div class="align-left" style="margin: 2%;">
                        <% mostViewedYearbooks.forEach(yearbook => { %>
                          <p><strong><%= yearbook.title %></strong>- <%= yearbook.views %> views</p>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>


  <div id="mobile-blocker">
    <h1 style="color: white;">Access Denied</h1>
    <p>This page is only accessible in desktop and not on mobile devices.</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#setDeadlineButton').click(function () {
          const yearbookId = $('#yearbook').val();
          const deadline = $('#consent_deadline').val();

          if (yearbookId && deadline) {
            $.ajax({
              url: '/set-deadline',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({ yearbookId, deadline }),
              success: function (response) {
                alert(response.message);
              },
              error: function (error) {
                console.log(error);
              }
            });
          } else {
            alert('Please select a yearbook and deadline date.');
          }
        });
      });
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    setTimeout(() => {
        const notifications = document.querySelectorAll('.notification');
        notifications.forEach(notification => {
          notification.style.display = 'none';
        });
      }, 5000);
      $(document).ready(function () {
      $('#setDeadlineButton').click(function () {
        const deadline = $('#consent_deadline').val();

        if (deadline) {
          $.ajax({
            url: '/set-deadline',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ deadline }),
            success: function (response) {
              alert(response.message);
            },
            error: function (error) {
              alert('Error setting deadline');
            }
          });
        } else {
          alert('Please select a deadline date.');
        }
      });
      });
  </script>
  <script>
    document.getElementById('pictures').addEventListener('change', validateImages);
    document.getElementById('picture').addEventListener('change', validateImages);
  
    function validateImages(event) {
      const files = event.target.files;
      const minWidth = 576;
      const minHeight = 720;
  
      for (const file of files) {
        const img = new Image();
        img.src = URL.createObjectURL(file);
  
        img.onload = () => {
          if (img.width < minWidth || img.height < minHeight || img.height <= img.width) {
            alert(`File "${file.name}" is invalid. It must be at least ${minWidth}x${minHeight}px and portrait-oriented.`);
            event.target.value = ''; 
          }
        };
      }
    }
  </script>
  <script>
      const consentDeadlines = JSON.parse('<%- JSON.stringify(calendar) %>');
  </script>
  <script src="../assets/js/calendar.js"></script>
  
  <script scr="/js/onlinestu.js"></script>
  <script src="../assets/js/accountsettings.js"></script>
  <script src="../assets/js/zoom.js"></script> 
  <script src="../assets/js/calendar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <script src="../auth.js"></script>
  
  <script src="../assets/js/createaccount.js"></script>
  <script src="../assets/js/logout.js"></script>
  <script src="../assets/js/fetchstudentlist.js"></script>
  <script src="../assets/js/fetchcomitteelist.js"></script>
  <script src="../assets/js/fetchyblist.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/purecounter/purecounter.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.min.js"></script>
  <script src="../assets/js/main.js"></script>

</body>

</html>
